<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
      
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>en_US</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>en_US</param-value>
    </context-param>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!--    <filter>
        <filter-name>AuthenticateFilter</filter-name>
        <filter-class>com.gsm.web.controller.AuthenticateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.gsm.web.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>com.gsm.web.controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>com.gsm.web.controller.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.gsm.web.controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>com.gsm.web.controller.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetQuestionController</servlet-name>
        <servlet-class>com.gsm.web.controller.SetQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsersController</servlet-name>
        <servlet-class>com.gsm.web.controller.ListUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOperatorController</servlet-name>
        <servlet-class>com.gsm.web.controller.CreateOperatorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllController</servlet-name>
        <servlet-class>com.gsm.web.controller.GetAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClientsController</servlet-name>
        <servlet-class>com.gsm.web.controller.ViewClientsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionController</servlet-name>
        <servlet-class>com.gsm.web.controller.SessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDetailsController</servlet-name>
        <servlet-class>com.gsm.web.controller.ClientDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillsController</servlet-name>
        <servlet-class>com.gsm.web.controller.ViewBillsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayBillController</servlet-name>
        <servlet-class>com.gsm.web.controller.PayBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaidBillsController</servlet-name>
        <servlet-class>com.gsm.web.controller.PaidBillsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOperatorController</servlet-name>
        <servlet-class>com.gsm.web.controller.ListOperatorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentGatewayController</servlet-name>
        <servlet-class>com.gsm.web.controller.PaymentGatewayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillReportController</servlet-name>
        <servlet-class>com.gsm.web.controller.BillReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/SignOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetQuestionController</servlet-name>
        <url-pattern>/SetQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsersController</servlet-name>
        <url-pattern>/ListUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOperatorController</servlet-name>
        <url-pattern>/CreateOperatorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllController</servlet-name>
        <url-pattern>/GetAllController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClientsController</servlet-name>
        <url-pattern>/ViewClientsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionController</servlet-name>
        <url-pattern>/SessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDetailsController</servlet-name>
        <url-pattern>/ClientDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillsController</servlet-name>
        <url-pattern>/ViewBillsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayBillController</servlet-name>
        <url-pattern>/PayBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaidBillsController</servlet-name>
        <url-pattern>/PaidBillsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOperatorController</servlet-name>
        <url-pattern>/ListOperatorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentGatewayController</servlet-name>
        <url-pattern>/PaymentGatewayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillReportController</servlet-name>
        <url-pattern>/BillReportController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
